body {
  margin:0;
  font-family:Arial;
  background:#f5f3f1;
  color:#222;
}

/* NAV */
.nav {
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 60px;
  background:white;
  border-bottom:1px solid #eee;
}

.logo span {
  color:#c89b6d;
}

.nav-links {
  display:flex;
  gap:25px;
  color:#666;
}

.nav-btn {
  background:#c89b6d;
  color:white;
  padding:10px 20px;
  border:none;
  border-radius:8px;
}

/* HERO */
.hero {
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:80px 60px;
}

.hero-left h1 {
  font-size:52px;
}

.hero-left span {
  color:#c89b6d;
}

.tag {
  color:#c89b6d;
}

.hero-img {
  width:500px;
  border-radius:20px;
}
